h2!= "Enter commands in the field below and press 'enter' to submit(colors in hex: <em>#f22</em> or <em>#ff2222</em>) OR use the buttons to load predefined programs"
input(placeholder='enter command...')
button.challenge Load Challenge Program
button.sample Load Test Program
.error you have entered an invalid command

