h2!= "Enter commands in the field below (colors values should be in hex: <em>#f22</em> or <em>#ff2222</em>)"
input(placeholder='enter command...')
button.challenge Load Challenge Program
button.sample Load Test Program
.error you have entered an invalid command

