table
.message
  p Thank you!
  p In case you haven't noticed, this app does a few extra things
  ul
    li user input validation
    li can't issue L, R or B comands until C is executed first
    li check if coordinates don't exceed canvas dimensions
    li allow clearing the board by create a new canvas
